ACCESS_TOKEN_SECRET=xxxx
APP_NAME = TemplateApp
JWT_SECRET = user
MAIL_ADDRESS=xxxx@mail.com
MAIL_PASSWORD=xxxx
MONGODB_URL = xxxx
MONGO_DB_NAME=xxxx
REDIS_URL=XXXXX
REDIS_EXPIRATION_IN_SECONDS=3600
REFRESH_TOKEN_SECRET=xxx
SITE_LINK=xxxx
USERNAME =  user@mail.com